<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Юджин</title>
</head>
<body>
    <nav class="menu">
        <ul class="menu-list">
        <li class="menu-list-item">
            <a class="menu-link">История Монреаля</a>
        </li>
        <li class="menu-list-item">
            <a href="udjin" class="menu-link">Комик Джеймс Ю́джин (Джим) Ке́рри</a>
        </li>   
        <li class="menu-list-item">
            <a href="vankuver" class="menu-link">Ванку́вер, провинция Британская Колумбия</a>
        </li>       
        </ul>
    </nav>
    <main class="content">
        <h1>Юджин Комик</h1>
        <p>В 1983 году у Керри состоялся актёрский дебют в фильме «Резиновое лицо» режиссёра Глена Салзмана.</p>
        <p>В этом же году он снялся в фильмах «Всё в хорошем вкусе» и «Гора Куппера» режиссёра Дэвида Митчелла в роли Бобби Тода.</p>
        <p>Двумя годами позже Керри получил свою первую главную роль в фильме «Однажды укушенный» Сторма Ховарда.</p>
        <p>В этом фильме он сыграл Марка Кендэлла, девственника, влюбившегося в графиню-вампиршу. Критики фильм не оценили.</p>
        <p>Годом позже, в 1986 году снялся в фильме «Пегги Сью выходит замуж» Фрэнсиса Форда Копполы в роли Уолтера Гетца.</p>
        <p>В двух последующих фильмах, «Смертельный список» 1988 года и «Розовый кадиллак» 1989 года, где он сыграл Джони Скуареса,</p>
        <p>он познакомился с Клинтом Иствудом, который заметил начинающего юмориста в одном из клубов,</p>
        <p>где тот выступал и пародировал знаменитостей, в том числе и Иствуда[11].</p>
        <p>В фильме «Земные девушки легко доступны» Джулиана Темпла Керри сыграл одну из главных ролей,</p>
        <p>Уиплока — инопланетянина, попавшего на землю.Фильм получил неплохие отзывы кинокритиков.</p>
</body>
</html>