<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Vankuver</title>
</head>
<body>
    <nav class="menu">
        <ul class="menu-list">
        <li class="menu-list-item">
            <a class="menu-link">История Монреаля</a>
        </li>
        <li class="menu-list-item">
            <a href="udjin" class="menu-link">Комик Джеймс Ю́джин (Джим) Ке́рри</a>
        </li>   
        <li class="menu-list-item">
            <a href="vankuver" class="menu-link">Ванку́вер, провинция Британская Колумбия</a>
        </li>       
        </ul>
    </nav>
    <main class="content">
        <h1>Ванкувер</h1>
        <p>Ванкувер – динамичный морской порт на западе провинции Британская Колумбия.</p>
        <p>Это один из самых густонаселенных и разнообразных в этническом плане городов Канады.</p>
        <p>Благодаря живописным горным пейзажам его часто выбирают для съемок фильмов.</p>
        <p>Здесь также проходит множество музыкальных и театральных событий.</p>
        <p>В Художественной галерее Ванкувера представлены работы местных мастеров,</p>
        <p>а в Музее антропологии собраны богатые коллекции экспонатов, связанных с жизнью североамериканских индейцев</p>
</body>
</html>